{% extends 'index1.html' %}

{% block corpo %}
    <h3 class="text-center label-primary ">Relatório Geral</h3>
    <div class="panel panel-default">

    <span class="col-md-6 col-sm-12 col-xs-12 label-default panel-success text-justify">Total de contribuintes <br><small class="text-info">cadastrados</small></span>

    <span class="col-md-6 col-sm-12 col-xs-12 label-info panel-success">Total de contribuintes <br><small class="text-success">que pagaram</small></span>


    </div>
    <h3  class="panel-success text-center" style="width: 10%;position: relative">{{ total_pessoas }}</h3>
    <h3  class="panel-success text-center" style="left: 52%;top: -30px;width: 10%;position: relative">{{ total_contribuintes_em_dia }}</h3>
    <div class="panel panel-default">
        <span class="col-md-6 col-sm-12 col-xs-12 label-default panel-success text-justify text-center">Valor total cadastrado</span>
        <span class="col-md-6 col-sm-12 col-xs-12 label-info panel-success text-center">Valor total recebido</span>
    </div>
    <h3  class="panel-success text-center" style="width: 10%;position: relative">cd</h3>
    <h3  class="panel-success text-center" style="left: 52%;top: -30px;width: 10%;position: relative">cd</h3>
    <h4 class="fa fa-user fa-2x" style="position: relative; left: 1000px;top:-65px;">%</h4>

{% endblock %}


