{% extends 'index1.html' %}



{% block corpo %}

        <h3>Quantidade de contribuintes até R$ 50,00  :</h3><span style="left: 65%;top: 30%; color: #67b168;position: absolute; font-size: 20px;">{{ tamanho50 }}</span>

        <h3>Quantidade de contribuintes a cima de R$ 50,00 :</h3>
        <span style="left: 65%;top: 35%; color: #67b168;position: absolute; font-size: 20px;">0</span>
        <h3>Total recebido</h3><span>0</span>

    <div class="col-md-12">
                        <h1 class="page-header">

                        </h1>
                    </div>



        <hr>
        <h3>Contribuiram até R$50,00</h3>

        {% for i in obj_receita50 %}
                <p style="color: #67b168;">{{ i.pessoa_contribuinte }} - Valor : {{ i.valor_recebido }}</p>
                <span>Recebido em:  {{ i.mes_referente }}</span>
               {% empty %}
            <hr>
            <span style="color: red">sem registro</span>

            {% endfor %}

    <h3>Lista de pessoas cadastradas no sistema</h3>
    {% for i in pessoa50 %}
        <p style="color: #67b168;">{{ i.nome }} - Valor de cadastro : {{ i.valor_cadastrado }}</p>
               {% empty %}
            <hr>
            <span style="color: red">sem registro</span>

    {% endfor %}

    <h3>Total de pessoas cadastradas no sistema</h3>
    <span></span>total de<span style="color: #67b168">  {{Todos_contribuintes }} </span><span>Contribuintes cadastrados no sistema</span>

    <h3 style="left: 60%;top: 78%;position: absolute;">Contribuiram até R$10,00</h3>
    <div style="left: 60%;top: 82%;position: absolute;">
    {% for i in ate10 %}
        <p style="color: #67b168;">{{ i }}</p>
        <span></span>
        {% empty %}
        <hr>
        <span style="color: red">sem registo</span>
    {% endfor %}
    </div>


    <h3 style="left: 60%;top: 108%;position: absolute;">Contribuiram até R$20,00</h3>
    <div style="left: 60%;top: 112%;position: absolute;">
    {% for i in ate20 %}
        <p style="color: #67b168;">{{ i }}</p>
        <span></span>
        {% empty %}
        <hr>
        <span style="color: red">sem registo</span>
    {% endfor %}
    </div>


    <h3 style="left: 60%;top: 138%;position: absolute;">Contribuiram até R$30,00</h3>
    <div style="left: 60%;top: 142%;position: absolute;">
    {% for i in ate30 %}
        <p style="color: #67b168;">{{ i }}</p>
        <span></span>
        {% empty %}
        <hr>
        <span style="color: red">sem registo</span>
    {% endfor %}
    </div>

    <h3 style="left: 60%;top: 168%;position: absolute;">Contribuiram até R$50,00</h3>
    <div style="left: 60%;top: 172%;position: absolute;">
    {% for i in ate50 %}
        <p style="color: #67b168;">{{ i }}</p>
        <span></span>
        {% empty %}
        <hr>
        <span style="color: red">sem registo</span>
    {% endfor %}
    </div>


   {% endblock %}

{% block auxiliar %}
<div style="width:30%">
			<canvas id="canvas" height="450" width="450"></canvas>

		</div>

{% endblock %}